
*.dll
*.dll
bin/Debug/netcoreapp2.2/appsettings.json
.vs/ThaniyasFarmerAppAPI/DesignTimeBuild/.dtbcache
.vs/ThaniyasFarmerAppAPI/v16/.suo
.vs/ThaniyasFarmerAppAPI/v16/Server/sqlite3/storage.ide
bin/Debug/netcoreapp2.2/appsettings.json
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
bin/Debug/netcoreapp2.2/appsettings.json
.vs/ThaniyasFarmerAppAPI/DesignTimeBuild/.dtbcache
.vs/ThaniyasFarmerAppAPI/v16/Server/sqlite3/storage.ide
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.genruntimeconfig.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
.vs/ThaniyasFarmerAppAPI/DesignTimeBuild/.dtbcache
obj/project.assets.json
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
bin/Debug/netcoreapp2.2/appsettings.json
obj/project.assets.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.2/appsettings.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/ThaniyasFarmerAppAPI.csproj.EntityFrameworkCore.targets
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.genruntimeconfig.cache
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp2.2/PubTmp/Out/ThaniyasFarmerAppAPI.pdb
obj/Release/netcoreapp2.2/PubTmp/Out/ThaniyasFarmerAppAPI.dll
obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
obj/project.assets.json
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
bin/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
bin/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Release/netcoreapp2.2/appsettings.json
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Debug/netcoreapp2.2/appsettings.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Release/netcoreapp2.2/PubTmp/Out/ThaniyasFarmerAppAPI.pdb
obj/Release/netcoreapp2.2/PubTmp/Out/ThaniyasFarmerAppAPI.dll
obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
obj/project.assets.json
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
bin/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
bin/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Release/netcoreapp2.2/appsettings.json
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Debug/netcoreapp2.2/appsettings.json
obj/ThaniyasFarmerAppAPI.csproj.nuget.g.props
obj/ThaniyasFarmerAppAPI.csproj.nuget.dgspec.json
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
obj/Release/netcoreapp2.2/PubTmp/Out/ThaniyasFarmerAppAPI.pdb
obj/Release/netcoreapp2.2/PubTmp/Out/ThaniyasFarmerAppAPI.dll
obj/Release/netcoreapp2.2/PubTmp/Out/appsettings.json
obj/project.assets.json
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.csproj.FileListAbsolute.txt
bin/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
bin/Release/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Release/netcoreapp2.2/appsettings.json
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.pdb
bin/Debug/netcoreapp2.2/ThaniyasFarmerAppAPI.dll
bin/Debug/netcoreapp2.2/appsettings.json
